* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}

.logo {
  font-size: 23px;
  color: #e2f1e7;
}

.logo-sty {
  color: #f99417;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #387478;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  transition: background 0.3s;
}

.navbar.scrolled {
  background: rgba(51, 51, 51, 0.9);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 10px 15px;
  font-size: 18px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #575757;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 3px 0;
}

.content {
  margin-top: 100px;
  margin-left: 100px;
}

.content h1 {
  margin-top: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

p {
  font-size: 21px;
  margin-top: 35px;
}

section {
  height: 100%;
  padding-top: 10px;
  bottom: #514e4e;
  color: rgb(12, 12, 12);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  border-bottom: 5px solid #ddd;
  background-color: #e2f1e7;
}

.home-img {
  margin-top: 80px;
  width: 100;
}

.home-btn {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #387478;
  color: #ddd;
  font-size: 20px;
  border-radius: 10px;
}

.home-btn a {
  text-decoration: none;
  color: #ddd;
}

.proj-sec1 {
  width: 450px;
  height: 450px;
  background-color: #a9bdbe;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(102, 95, 95);
  padding: 20px;
}
.proj-sec1 h3 {
  font-size: 35px;
}

.proj-sec1:hover {
  margin-top: 5px;
  transition: 0.3s ease-in-out;
  background-color: rgb(29, 28, 26);
  background: rgba(76, 175, 80, 0.3);
}

.proj-sec2 {
  width: 450px;
  height: 450px;
  background-color: #a9bdbe;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(102, 95, 95);
  padding: 20px;
}

.proj-sec2 h3 {
  font-size: 35px;
}

.proj-sec2:hover {
  margin-top: 5px;
  transition: 0.3s ease-in-out;
  background-color: rgb(29, 28, 26);
  background: rgba(76, 175, 80, 0.3);
}

.proj-sec3 {
  width: 450px;
  height: 450px;
  background-color: #a9bdbe;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(102, 95, 95);
  padding: 20px;
}

.proj-sec3:hover {
  margin-top: 5px;
  transition: 0.3s ease-in-out;
  background-color: rgb(29, 28, 26);
  background: rgba(76, 175, 80, 0.3);
}

.proj-in {
  display: flex;
  margin-left: -900px;
  margin-top: 230px;
}

.proj-out {
  margin-top: -400px;
  margin-left: 650px;
  color: #387478;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: #333;
    width: 100%;
    z-index: 1;
    transition: all 2s ease-in 0.1;
  }

  .nav-links a:hover {
    background: #ffffff;
    border-radius: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  #home {
    display: inline-block;
    width: 100%;
  }

  .home-img {
    width: 100px;
    height: auto;
  }

  .content {
    margin-top: 80px;
    margin-left: 40px;
  }

  #about {
    display: inline-block;
    width: 100%;
  }

  .about-cont {
    text-align: center;
    margin-bottom: 70px;
  }

  .proj-in {
    display: inline-block;
    margin-left: -350px;
  }

  .proj-out {
    display: inline-block;
    margin-left: 100px;
    margin-top: -900px;
  }

  .proj-out h1 {
    margin-top: -280px;
    /* margin-left: -300px; */
  }

  #contact {
    display: inline-block;
    width: 100%;
  }

  .cont-img {
    width: 100px;
  }

  #contact h1 {
    text-align: center;
  }

  #contact p {
    text-align: center;
  }

  #contact h6 {
    text-align: center;
    margin-bottom: 10px;
  }
}
